<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar mr-5">
        <a class="navbar-brand" href="#"> <img src="assets/img/Almas-logo.svg">ALMAS DES3IGN</a>
       
        <div class="navbar-expand" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active link link1" routerLink="/" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link link link2" routerLink="/about-component" routerLinkActive="active">About</a>
            <a class="nav-item nav-link link link3 " routerLink="/contact-component" routerLinkActive="active">Contact</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
