<div class="row main-page">
    <div class="col-6 title pt-5">
        <h1 class="text-white"><span class="orange">let </span><span class="green">me</span></h1>
        <h1 id="text">
            <div id="shadow"> 
                <span id="glow">desi</span>
                <span id="blink">gn</span>
            </div>
        </h1>
        <h1><span class="purple">your</span><span class="pink"> mind</span></h1>
    </div>
    <div class="col-6 floating">
        <img class="position-fixed bg-image" src="assets/img/background.png">
    </div>
</div>